nav {
  border-right: 2px solid var(--bgho);
  width: 90px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  transition: 0.3s ease-in-out;
  z-index: 1000;
}

.layout_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 100%;
  background-color: var(--bghoHover);
}

@media screen and (max-width: 450px) {
  nav {
    position: fixed;
    width: 150px;
    background-color: var(--bg);
    left: -200px;
  }
}

nav.active {
  left: 0;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  border-bottom: 2px solid var(--bgho);
}

.logo svg {
  width: 30px;
}

.box_route a svg {
  stroke: var(--unact);
  transition: 0.3s ease-in-out;
}

.box_route:hover a svg {
  stroke: var(--primary);
}

.box_route.active a svg {
  stroke: var(--primary);
}

.routes {
  position: relative;
  list-style: none;
  width: 100%;
  margin-top: 20px;
}

.routes li {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout {
  margin-top: auto;
}

.logout svg {
  stroke: var(--unact);
}

.logout:hover svg {
  stroke: var(--primary);
}

.routes li svg,
.logout svg {
  width: 22px;
  height: 22px;
}

.active_bar {
  background-color: var(--primary);
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  border-radius: 50%;
  transform: translateX(-32px);
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.active_bar::before,
.active_bar::after {
  content: "";
  position: absolute;
  width: 40px;
}

.active_bar::before {
  background-color: var(--primary);
  height: 70px;
  left: 0;
}

.active_bar::after {
  height: 40px;
  z-index: 200;
  border-radius: 50%;
  right: 0;
  box-shadow: 2px 5px 40px rgba(206, 28, 28, 0.664);
}

.border_bactive {
  position: relative;
  width: 40px;
  height: 70px;
  z-index: 100;
}

.border_bactive::before,
.border_bactive::after {
  content: "";
  position: absolute;
  background-color: var(--bg);
  width: 20px;
  z-index: 1000;
  height: 21px;
  right: -12px;
}

.border_bactive::before {
  top: -3px;
  border-bottom-left-radius: 50px;
}

.border_bactive::after {
  bottom: -3px;
  border-top-left-radius: 50px;
}
